html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'sans-serif';
  color: #6e6a6f;
  background-color: #d4d2d5;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
